
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - App</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


        @* font-awesome *@
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

        @* other .css *@
        <link rel="stylesheet" href="~/css/_footer.css" />
        <link rel="stylesheet" href="~/css/_header.css" />
        <link rel="stylesheet" href="~/css/_post.css" />
        <link rel="stylesheet" href="~/css/_product.css" />

    </head>

    <body>
        <header id="header-edit">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand text-info" asp-area="" asp-controller="Home" asp-action="Index">AppMVC</a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link app-tag-a-1" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link app-tag-a-1" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link app-tag-a-1" asp-area="Contact" asp-controller="Contact" asp-action="SendContact">Contact</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link app-tag-a-1" asp-area="Blog" asp-controller="ViewPost" asp-action="Index">Blog</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link app-tag-a-1" asp-area="Product" asp-controller="ViewProduct" asp-action="Index">Product</a>
                            </li>
                        </ul>

                        @await Html.PartialAsync("/Views/Shared/Partials/_CartPartial.cshtml")
                        <partial name="/Views/Shared/Partials/_MenuManagePartial.cshtml"></partial>
                        <partial name="/Views/Shared/Partials/_LoginPartial.cshtml"></partial>

                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer id="footer-edit" class="border-top footer text-white-50" style="text-align:center">
            <div class="container">
                &copy; 2024 - App - <a class="app-tag-a-1" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

