@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu?";
    Layout = "_LayoutLogin";
}

<style>
    .bg-login-image{
        background-image: url(https://as1.ftcdn.net/v2/jpg/03/95/29/32/1000_F_395293226_A4boRgABAbfXmAmmynQHcjjIIB3MjDCj.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>

@*  *@
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-2">Bạn quên mật khẩu?</h1>
                        <p class="mb-4">Hãy nhập địa chỉ email của tài khoản để lấy mật khẩu!</p>
                    </div>

                    <form class="user" method="post">
                        <div class="form-group">
                            <input asp-for="Email" type="email" 
                                class="form-control form-control-user"
                                aria-describedby="emailHelp"
                                placeholder="Enter Email Address...">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Gửi
                        </button>
                    </form>

                    <hr>
                    <div class="text-center">
                        <a class="small" asp-action="Login">Đăng nhập</a>
                    </div>
                    <div class="text-center">
                        <a class="small" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Chưa có tài khoản? Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* <h1>@ViewData["Title"]</h1>
<h4>Nhập địa chỉ email của tài khoản.</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>
    </div>
</div> *@


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
